.row {
  width: 100%;
  display: grid;
  gap: 12px;
  grid-auto-flow: row;
}

.row.rowCol1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.row.rowCol2 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.row.rowCol3 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}