.listSections {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.listSections:last-child {
  margin-bottom: 24px;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 28px 24px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid var(--gray-50);
  box-shadow: 0px 0px 4px 0px rgba(40, 40, 50, 0.40);
  background-color: var(--white);

}

.sectionItem h2 {
  font-size: 24px;
}


.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}