.container {
  position: absolute;
  top: 12px;
  width: 140px;
  /* height: 50px; */
  display: flex;
  align-items: center;
}

.container.entry {
  justify-content: flex-start;
}

.container.exit {
  justify-content: flex-end;
}

.container.doubleType {
  justify-content: space-between;
}