.container {
  position: absolute;
  top: 12px;
  width: 140px;
  display: flex;
  align-items: center;
  z-index: -1;
}

.container.entry {
  justify-content: flex-start;
}

.container.exit {
  justify-content: flex-end;
}

.container.doubleType {
  justify-content: space-between;
}

@media ((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait)) {
  .container {
    width: 112px;
    top: 6px;
  }

}