.timerNumber {
  position: absolute;
  top: 18px;
  color: var(--black);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}


.resetLight{
  position: relative;
  z-index: 2;
  margin: 10px 0 0 0 0;
}

.resetLightElement {
  position: relative;
  width: 8px;
  height: 8px;
  margin: 8px 0px 0px 37px;
  fill: red;
}

@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {

}
