.inputDate::-webkit-datetime-edit-month-field,
.inputDate::-webkit-datetime-edit-day-field,
.inputDate::-webkit-datetime-edit-year-field,
.inputDate::-webkit-datetime-edit-text {
  color: var(--gray-100);

}


.inputDate::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 24px;
  font-size: 16px;
  cursor: pointer;
}