.buttonSubmit {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--blue);
  transition: background-color 0.3s ease-in-out;
}

.buttonSubmitLarge {
  width: 100%;
}

.buttonSubmitSmall {
  width: 180px;
}

.buttonSubmit p {
  font-weight: bold;
  color: var(--white);
}

.buttonSubmit:hover {
  filter: brightness(90%);
}

.buttonSubmit:disabled {
  cursor: not-allowed;
  background-color: var(--gray-100);
}