.moutingPanelContainer {
  position: relative;
  width: 150vw;
  height: 150vh;
  z-index: 0;
}

.buttonsContainer {
  position: fixed;
  top: 80px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 3;
}

/* Mobile devices up to 480px width */
/* Mobile devices in landscape mode up to 480px height*/
@media (max-width: 480px) or ((max-height:480px) and (orientation:landscape)) {
  .buttonsContainer {
    top: 72px;
  }
}