.inputsContainer {
  position: absolute;
  top: -64px;
  left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.thermometerIcon,
.dropIcon {
  font-size: 20px;
}

.thermometerIcon {
  fill: var(--red);
}

.dropIcon {
  fill: var(--blue);
}

.inputDht {
  opacity: 1;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
}


.inputDht:hover {
  opacity: 1;
  position: relative;
  transform: translateX(0);
  width: 85px !important;
  height: 6px;
}

.showValue {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.inputContainerDht {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
}

.inputContainerDht input {
  width: 0px !important;
  opacity: 0;
  pointer-events: none;
}

.inputContainerDht:hover input {
  width: 80px !important;
  opacity: 1;
  pointer-events: all;
}


@media(max-width: 768px) {
  .inputContainerDht:hover input {
    width: 60px !important;
  }
}