.container {
  position: absolute;
  top: calc(64px);
  width: 256px;
  border: 1px solid var(--gray-50);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(40, 40, 50, 0.40);
  background-color: var(--white);
  z-index: 10000;
}

.right {
  right: 0;
}

.left {
  left: 44px;
}


@media (max-width: 480px) {

  .left {
    left: -60px;
  }
}