.infraredControl {
  position: absolute;
  left: -250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 40px;
  border-radius: 24px;
  border: 3px solid var(--gray-100);
  background-color: var(--black);
}

.infraredControlDisabled {
  display: none;
}

.controlMinimizer {
  position: absolute;
  top: -45px;
  right: 0;
  padding: 0 10px;
  font-size: 25px;
  text-align: center;
  border: 2px solid var(--gray-100);
  border-radius: 6px;
  cursor: pointer;
  color: var(--white);
  box-shadow: -2px 2px 3px rgba(146, 146, 146, 0.7);
  background-color: var(--black);
  transition: transform 0.3s ease-in-out;
}

.controlMinimizer:hover {
  transform: scale(1.1);
}

.controlRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
}

.controlNumbers,
.controlDirectionals {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.controlRowCenter {
  justify-content: center;
}

.controlDirectionals {
  position: relative;
}

.controlDirectional {
  z-index: 1;
}

.controlDirectionals::before,
.controlDirectionals::after {
  content: "";
  position: absolute;
  border-radius: 24px;
  background-color: #f2f2f2;
  z-index: 0;
}

.controlDirectionals::before {
  top: 38px;
  left: -8px;
  width: calc(100% + 16px);
  height: 40px;
}

.controlDirectionals::after {
  top: -5px;
  left: 37px;
  width: 40px;
  height: calc(100% + 16px);
}

.controlGeneratorCode input {
  width: 100%;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: var(--white);
}

.controlgeneratorCode input:focus {
  outline: 2px solid var(--blue);
}

.controlgeneratorCode input::placeholder {
  font-size: 10px;
  font-style: italic;
}

@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {

}
