.moutingPanelContainer {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  overflow: auto;
}

.buttonsContainer {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  gap: 18px;
  z-index: 3;
}

@media (max-width: 769px) {
  .buttonsContainer {
    top: 6px;
    z-index: 3;
    height: 56px;
  }
}

@media (max-width: 480px) or ((max-height:480px) and (orientation:landscape)) {
  .buttonsContainer {
    top: 4px;
    z-index: 3;
    height: 24px;

  }
}