.BodyCounterNumbers {
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
  color: var(--white);
}

.BodyCounterButtons {
  position: absolute;
  top: 10px;
  left: 31px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.counterButton {
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.counterButtonDecrease {
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

.counterButton:hover {
  transform: scale(1.1);
}

.counterButtonDecrease:hover {
  transform: scale(1.1) rotate(180deg);
}



@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {
  .BodyCounterNumbers {
    position: absolute;
    top: 18px;
    display: flex;
    justify-content: center;
    gap: 3px;
    font-size: 10px;
    color: var(--white);
  }

  .BodyCounterButtons {
    position: absolute;
    top: 5px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
