.container {
  position: relative;
  width: 124px;
  height: 90%;
  padding: 0 0 4px 0;
  border-radius: 0 24px 24px 0;
  border-right: 4px solid var(--yellow-900);
  background-color: var(--yellow-600);
}

.devicesList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.devicesList::-webkit-scrollbar {
  display: none;
}

.devicesList ul {
  width: fit-content;
  height: 100%;
}

.trashArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.trashArea svg {
  width: 32px;
  height: 32px;
}

/* Tablet */
@media (max-width: 769px) and (orientation:portrait) {

  .container {
    width: 480px;
    height: 96px;
    border-radius: 12px 12px 0 0;
    padding: 0 0 0 0;
  }

  .devicesList {
    justify-content: flex-start;
  }

  .container ul {

    display: flex;
    align-items: center;
    gap: 8px;
  }
}

/* Mobile up to 480px*/
@media (max-width: 481px) {

  .container {
    max-width: 380px;
    height: 80px;
  }

  .trashArea svg {
    width: 18px;
    height: 18px;
  }
}

/* Mobile up to 420px*/
@media (max-width: 420px) {
  .container {
    max-width: 100%;
    border-radius: 0 0 0 0;
    border: none;
  }

  .devicesList {
    padding: 0 8px;
  }
}

/* Mobile up to 480px to height and orientation landscape*/
@media (max-height: 481px) and (orientation: landscape) {

  .container {
    width: 100%;
    max-width: 84px;
    height: 100%;
    max-height: 260px;
    border-radius: 0 12px 12px 0;
  }
}