.ledLight {
    position: absolute;
    top: -68px;
    left: 8px;
    z-index: 2;
}

.ledLightElement {
    width: 68px;
    fill: var(--red);
}


@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {

    .ledLight {
        top: -44px;
        left: 3px;
    }

    .ledLightElement {
        width: 44px;
    }
}