.ledContainer {
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.ledContent {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ledBody {
    width: 80px;
    height: 80px;
    position: relative;
    transition: transform .3s ease-in-out;
}

.ledBody img {
    width: 100%;
    height: 100%;
}

.ledBody:hover {
    transform: scale(1.1);
}

.ledLight {
    position: absolute;
    top: -68px;
    left: 8px;
    z-index: 2;
}

.ledLightElement {
    width: 68px;
    fill: var(--red);
}


@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {
    .ledBody {
        width: 48px;
        height: 48px;
    }

    .ledLight {
        top: -44px;
        left: 3px;
    }

    .ledLightElement {
        width: 44px;
    }
}