.configIfContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    overflow-y: auto;
    padding: 24px 64px;
}

.configIfTitle {
    font-size: 24px;
    font-weight: bold;
}

.inputsArea,
.inputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsArea {
    gap: 24px;
}

.inputArea {
    gap: 12px;
}

.labelInput {
    font-size: 16px;
}

.disabled {
  display: none;
}

/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.labelInput {
  font-size: 16px;
}


@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {
    /* MOBILE */

    .configIfContent {
        justify-content: flex-start;
        gap: 16px;
        max-height: 320px;
        overflow-y: auto;
        padding: 8px 24px;
    }
}
