.menu {
    position: fixed;
    top: 60px;
    width: 218px;
    height: calc(100% - 60px);
    max-height: 870px;
    padding: 24px 0 24px 24px;
    display: flex;
    align-items: center;
    z-index: 2;
}


@media (max-width: 769px) and (orientation: portrait) {
    .menu {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 176px;
        padding: 0 0 24px 0;
        flex-direction: column-reverse;
    }
}


@media (max-width: 481px) and (orientation: portrait) {
    .menu {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 144px;
        margin: 0 auto;
        padding: 0 24px 24px 24px;
    }
}

/* LANDSCAPE */

@media (max-height: 481px) and (orientation: landscape) {
    .menu {
        top: 36px;
        width: 156px;
        height: calc(100% - 36px);
    }

}