.loopNumber {
  position: absolute;
  top: 18px;
  color: var(--black);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {
  .loopNumber {
    top: 14px;
    font-size: 18px;
  }
}
