.loopNumber {
  color: var(--black);
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  margin: -65px auto 0 auto;
}

@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {
  .loopNumber {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    margin: -48px auto 0 auto;
  }
}
