.connector {
    position: absolute;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    top: 16px;
}

.connectorRange {
    position: absolute;
    border-radius: 100px;
    top: -18px;
    border: 20px solid transparent;
    background-color: transparent;
    opacity: 0;
}

/* CONNECTOR ENTRY */
.entryConnector {
    left: -28px;
    border: 2px solid var(--black);
    background-color: var(--background);
    transition: border-color 0.3s ease-in-out;
}

.entryConnector:hover {
    border-color: var(--blue);
}

.entryConnectorRange {
    left: -28px;
}

/* CONNECTOR EXIT */

.exitConnector {
    right: -28px;
    background-color: var(--black);
    transition: background-color 0.3s ease-in-out;
}

.exitConnector:hover {
    background-color: var(--blue);
}

.exitConnectorRange {
    right: -28px;
}

@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {
    .connector {
        width: 10px;
        height: 10px;
    }

    .entryConnector {
        left: -24px;
    }

    .exitConnector {
        right: -24px;
    }
}