.laserLightContainer {
  position: absolute;
  top: 35px;
  left: 57px;
  z-index: 2;
}

.laserLightElement {
  width: 104px;
}


@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {

  .laserLightContainer {
    top: 25px;
    left: 41px;
  }

  .laserLightElement {
    width: 78px;
  }

}