.ledLightContainer {
  position: absolute;
  top: -68px;
  left: 8px;
  z-index: 2;
}

.ledLightElement {
  width: 68px;
}



@media (((max-height: 481px) and (orientation: landscape)) or ((max-width: 481px) and (orientation: portrait))) {

  .ledLightContainer {
    top: -52px;
    left: 4px;
  }

  .ledLightElement {
    width: 52px;
  }
}